
__pycache__/Music.cpython-39.pyc
__pycache__/Functions.cpython-39.pyc
__pycache__/Roles.cpython-39.pyc
__pycache__/Music.cpython-39.pyc
__pycache__/Commands.cpython-39.pyc
*.pyc
__pycache__/Commands.cpython-39.pyc
__pycache__/Commands.cpython-39.pyc
__pycache__/Music.cpython-39.pyc
